@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/manrope-200.woff") format("woff"),
    url("../fonts/manrope-200.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/manrope-500.woff") format("woff"),
    url("../fonts/manrope-500.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/manrope-600.woff") format("woff"),
    url("../fonts/manrope-600.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/cormorant-garamond-600.woff") format("woff"),
    url("../fonts/cormorant-garamond-600.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/cormorant-garamond-600-Italic.woff") format("woff"),
    url("../fonts/cormorant-garamond-600-Italic.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  min-width: 1920px;
  margin: 0;
  font-family: "Manrope", arial, sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 200;
  color: #546272;
  background-color: #f9faff;
}

.button {
  display: inline-block;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 24px;
  box-shadow: 0 0 16px 0 rgba(230, 230, 230, 0.5);
}

.title {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

/* Шапка */

.page-header {
  margin-bottom: 36px;
  background-color: #ffffff;
}

.main-menu-wrapper {
  background-color: #ebebeb;
}

.main-menu-list {
  width: 976px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.main-menu-link {
  display: block;
  padding: 5px 26px;
  font-size: 13px;
  line-height: 19px;
  text-decoration: none;
  color: #546272;
}

.main-menu-link-current {
  background-color: #ffffff;
  box-shadow: inset 0 0 16px 0 rgba(230, 230, 230, 0.5);
}

.page-nav {
  width: 1110px;
  margin: 0 auto;
}

.nav-information-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 14px 0 14px 17px;
}

.center-logo-image {
  display: block;
}

.center-logo {
  text-decoration: none;
}

.center-phone {
  padding-top: 7px;
  text-decoration: none;
  color: #546272;
}

.bold-phone-text {
  font-weight: 600;
}

.entry-button {
  padding: 9px 19px;
  color: #ffffff;
  background-color: #546272;
}

.nav-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.login-button {
  padding: 9px 19px;
  padding-left: 43px;
  color: #546272;
  background-color: #ffffff;
  background-image: url("../image/user-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px 11px;
  background-size: 22px 21px;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid rgba(84, 98, 114, 0.25);
}

.header-nav-link {
  display: block;
  padding: 10px 22px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  text-decoration: none;
  color: #546272;
}

/* Основное содержимое */

.section-container {
  width: 1110px;
  margin: 0 auto;
}

/* Герой */

.hero {
  margin-bottom: 56px;
  background-color: #ded6d5;
}

.hero .section-container {
  padding: 128px 0 67px 0;
  background-image: url("../image/hero-woman.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 550px 550px;
}

.hero-title {
  width: 460px;
  margin: 0;
  margin-bottom: 32px;
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
}

.hero-subtitle {
  margin: 0;
  margin-bottom: 56px;
  font-size: 24px;
  line-height: 36px;
}

.hero-more-button {
  margin-bottom: 50px;
  padding: 12px 57px;
  background-color: #546272;
  color: #ffffff;
}

.hero-pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero-pagination-button {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 6px;
  background-color: #ffffff;
  cursor: pointer;
}

.hero-pagination-button-current {
  width: 36px;
  border-radius: 8px;
  background-color: #9a888a;
}

/* Услуги */

.services {
  margin-bottom: 56px;
}

.services-header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.services-title {
  margin: 0;
}

.services-more-button {
  padding: 11px 20px;
  color: #546272;
  background-color: #ffffff;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 32px;
  grid-template-columns: 462px 292px 292px;
}

.services-item {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border-radius: 24px;
}

.services-item-title {
  margin: 0;
  font-size: 20px;
  line-height: 29px;
  font-weight: 600;
}

.italic-title-wripper {
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-style: italic;
  font-size: 27px;
  line-height: 27px;
  font-weight: 600;
}

.services-item-hardware {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 462px;
  padding: 31px 32px 45px;
  background-color: #e7e1e0;
  background-image: url("../image/band-star-decor.svg");
  background-repeat: no-repeat;
  background-position: 275px 84px;
}

.services-item-hardware .services-item-title {
  margin-bottom: 27px;
}

.services-item-injection {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 292px;
  padding: 32px;
  background-image: url("../image/star-union-decor.svg");
  background-repeat: no-repeat;
  background-position: 215px 174px;
}

.services-item-injection .services-item-title {
  margin-bottom: 27px;
}

.services-item-esthetic {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 292px;
  padding: 32px;
  background-image: url("../image/star-decor.svg");
  background-repeat: no-repeat;
  background-position: 170px 9px;
}

.services-item-laser {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 292px;
  padding: 32px;
  background-image: url("../image/two-stars.svg");
  background-repeat: no-repeat;
  background-position: 202px 0;
}

.services-item-male {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  width: 292px;
  padding: 32px;
  background-image: url("../image/band-star-decor.svg");
  background-repeat: no-repeat;
  background-position: 130px 0;
}

.new-text {
  display: inline-block;
  margin-left: 7px;
  padding: 1px 6px;
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  text-transform: lowercase;
  color: #9a888a;
  border: 1px solid #9a888a;
  border-radius: 12px;
  background-color: #e7e1e0;
}

.services-description-item:not(:last-child) {
  margin-bottom: 12px;
}

.services-description-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Преимущества */

.advantages {
  background-color: #ebebeb;
}

.advantages-title {
  margin: 0;
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-size: 44px;
  line-height: 44px;
  font-weight: 600;
}

.advantages-description {
  margin: 0;
}

.advantages-more-button {
  color: #ffffff;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.advantages-item-title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 200;
}

.advantages-item-description {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

/* Специалисты */

.specialists-title {
  margin: 0;
}

.specialists-more-button {
  color: #546272;
}

.specialists-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.specialists-item-title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.specialists-item-description {
  margin: 0;
}

/* Отзывы */

.reviews-title {
  margin: 0;
}

.reviews-more-button {
  color: #546272;
}

.reviews-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rewiews-blockquote {
  margin: 0;
}

.rewiews-text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.feedback-text {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.feedback-button {
  color: #ffffff;
}

/* Контакты */

.contacts-title {
  margin: 0;
}

.contacts-pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts-subtitle {
  margin: 0;
}

.contacts-address-text {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  font-style: normal;
}

.contacts-shedule-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts-shedule-item {
  font-size: 16px;
  line-height: 24px;
}

.contacts-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts-social-link {
  line-height: 25px;
  font-weight: 600;
  text-decoration: none;
  color: #546272;
}

/* Рейтинг */

.rating-title {
  margin: 0;
}

.rating-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rating-item {
  background-color: #ffffff;
}

.rating-company-name {
  margin: 0;
  font-weight: 600;
}

.rating-company-grade {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  color: #9a888a;
}

.rating-amount {
  font-size: 13px;
  line-height: 19px;
}

/* Запись */

.subscribe-entry {
  background-color: #e7e1e0;
}

.subscribe-entry-title {
  margin: 0;
  line-height: 40px;
}

.subscribe-entry-description {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.subscribe-entry-button {
  color: #ffffff;
}

.subscribe-entry-field::placeholder {
  font-size: 15px;
  font-weight: 500;
  color: #757575;
}

.entry-agreement-text {
  font-size: 12px;
  line-height: 20px;
}

.entry-information-link {
  color: #546272;
}

/* Подвал */

.page-footer {
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
  background-color: #546272;
}

.footer-container {
  width: 1110px;
  margin: 0 auto;
}

.footer-copyright {
  margin: 0;
}

.footer-documents-link {
  color: #ffffff;
}

.visually-impaired-button {
  color: #ffffff;
}

.footer-prevention-text {
  margin: 0;
}
